{% extends "base.html" %}

{% block title %}Proman{% endblock %}

{% block body %}

<button type="submit" name="add-public-board" id="new-board-create-button">+ Create new board</button>
<input hidden id="new-board-title" type="text">

<button hidden type="submit" name="save-public-board" method="POST" id="new-board-save-button">Save</button>
    <div id="root"></div>

<!--{#&lt;!&ndash; Register Modal &ndash;&gt;#}-->
<!--{#<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}-->
<!--{#  <div class="modal-dialog">#}-->
<!--{#    <div class="modal-content">#}-->
<!--{#      <div class="modal-header">#}-->
<!--{#        <h5 class="modal-title" id="exampleModalLabel">Register</h5>#}-->
<!--{#        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}-->
<!--{#      </div>#}-->
<!--{#      <div class="modal-body">#}-->
<!--{#        ...#}-->
<!--{#      </div>#}-->
<!--{#      <div class="modal-footer">#}-->
<!--{#        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}-->
<!--{#      </div>#}-->
<!--{#    </div>#}-->
<!--{#  </div>#}-->
<!--{#</div>#}-->
<!--{##}-->
<!--{#&lt;!&ndash; Register Modal Script &ndash;&gt;#}-->
<!--{#    <script>#}-->
<!--{#        function activateRegisterModal(){#}-->
<!--{#            $.ajax({#}-->
<!--{#                url:'/register',#}-->
<!--{#                type:'GET',#}-->
<!--{#                success: function (data){#}-->
<!--{#                    $('.modal-body').html(data);#}-->
<!--{#                    $('#registerModal').modal('show');#}-->
<!--{#                },#}-->
<!--{#                error: function (msg){#}-->
<!--{#                    alert(msg);#}-->
<!--{#                }#}-->
<!--{#            })#}-->
<!--{#        }#}-->
<!--{#    </script>#}-->


<!--    &lt;!&ndash; Login Modal &ndash;&gt;-->
<!--<div class="modal fade " id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Login</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        ...-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Login Modal Script &ndash;&gt;-->
<!--    <script>-->
<!--        function activateLoginModal(){-->
<!--            $.ajax({-->
<!--                url:'/login',-->
<!--                type:'GET',-->
<!--                success: function (data){-->
<!--                    $('.modal-body').html(data);-->
<!--                    $('#loginModal').modal('show');-->
<!--                },-->
<!--                error: function (msg){-->
<!--                    alert(msg);-->
<!--                }-->
<!--            })-->
<!--        }-->
<!--    </script>-->


<script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
{% endblock %}





